<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <title>admin_panel</title>
</head>
<body>
<nav class="navbar bg-dark border-bottom border-body navbar-expand-md pt-0 pb-0"
     data-bs-theme="dark">
    <div class="container-fluid">
        <ul class="navbar-nav mb-auto">
            <li class="navbar-brand">
                <form action="/user"
                      method="GET">
                    You:
                    <span class="navbar-brand mb-0 h1"
                          th:text="${currentUser.email}"></span>

                    <span class="navbar-brand mb-0 me-1 h1"
                    >with roles:
                        </span>
                    <th:block th:each="role: ${currentUser.roles}">
                            <span class="navbar-brand mb-0 h1"
                                  th:text="${' '+role.name.substring(5)+' '}"></span>
                    </th:block>
                </form>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <form action="/logout"
                      method="POST">
                    <button type="submit"
                            class="nav-link"
                    >Logout
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="25"
                             height="25"
                             fill="currentColor"
                             class="bi bi-door-open"
                             viewBox="0 0 16 16">
                            <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                            <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5
                            0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
                        </svg>
                    </button>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </form>
            </li>
        </ul>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-2 pe-0 ps-0">
            <ul class="nav nav-pills flex-column pt-3 gap-1"
                id="side-bar"
                role="tablist"
                aria-orientation="vertical">
                <li class="nav-item">
                    <button class="nav-link active col-12"
                            id="side-user-tab"
                            data-bs-toggle="pill"
                            role="tab"
                            href="#user-info"
                            aria-controls="user-panel"
                            aria-selected="true">
                        <span class="row">
                            <span class="fw-bold text-start"
                            >User
                            </span>
                        </span>
                    </button>
                </li>
            </ul>
        </div>


        <div class="col-10 pe-4 ps-4 bg-light" style="height: 100vh">
            <div class="tab-content bg-light pt-3"
                 id="admin-tabContent">
                <div class="tab-pane fade show active"
                     id="user-info"
                     role="tabpanel"
                     aria-labelledby="side-user-tab">
                    <div class="tab-content">
                        <p class="fs-5 ms-2">User information-page</p>
                    </div>
                    <div class="card">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${currentUser.id}"></td>
                                <td th:text="${currentUser.username}"></td>
                                <td th:text="${currentUser.name}"></td>
                                <td th:text="${currentUser.surname}"></td>
                                <td th:text="${currentUser.age}"></td>
                                <td th:text="${currentUser.email}"></td>
                                <td>
                                    <th:block th:each="role: ${currentUser.roles}">
                                        <span type="checkbox"
                                              th:text="${' '+role.name.substring(5)+' '}">
                                        </span>
                                    </th:block>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>